@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Inter:wght@100..900&family=Darker+Grotesque:wght@300..900&family=Plus+Jakarta+Sans:wght@200..800&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: 'Darker Grotesque', sans-serif;

    html {
      scroll-behavior: smooth;
    }

    /* font-family: 'Plus Jakarta Sans', sans-serif; */
  }

  .font-inter {
    font-family: 'Inter', sans-serif;
  }

  /* ======= Headings ======= */
  .heading-1 {
    @apply text-[56px] max-lg:text-[40px] max-md:text-[28px] leading-[1.3em] tracking-[-0.02em] font-semibold;
  }

  .heading-2 {
    @apply text-[44px] max-lg:text-[32px] max-md:text-[24px] leading-[1.2em] tracking-[-0.02em] font-semibold;
  }

  .heading-3 {
    @apply text-[36px] max-lg:text-[28px] max-md:text-[20px] leading-[1.3em] tracking-[-0.02em] font-semibold;
  }

  .heading-4 {
    @apply text-[28px] max-lg:text-[24px] max-md:text-[20px] leading-[1.4em] tracking-[-0.02em] font-semibold;
  }

  .heading-5 {
    @apply text-[24px] max-lg:text-[22px] max-md:text-[20px] leading-[1em] tracking-[-0.02em] font-semibold;
  }

  .heading-6 {
    @apply text-[20px] max-lg:text-[18px] max-md:text-[16px] leading-[1em] tracking-[-0.02em] font-semibold;
  }

  /* ======= Body & Text Styles ======= */
  .body-1 {
    @apply text-[22px] max-lg:text-[20px] max-md:text-[18px] leading-[1em] tracking-[-0.02em] font-medium;
  }

  .body-2 {
    @apply text-[20px] leading-[1.5em] tracking-[-0.01em] font-normal text-gray-800;
  }

  .label {
    @apply text-[14px] leading-[1.3em] tracking-[-0.01em] font-medium text-black;
  }

  .caption {
    @apply text-[12px] leading-[1.4em] tracking-normal font-normal text-gray-600;
  }


  .button-text {
    @apply text-[24px] leading-[24px] tracking-[-0.04em] font-semibold;
  }

  /* ======= Layout Helpers ======= */
  .section-padding {
    @apply pt-[24px] max-md:pt-[24px] pb-[24px] px-[64px] max-lg:px-[32px] max-md:px-[16px];
  }

  .hero-section-padding {
    @apply pt-[130px] max-md:pt-[68px] pb-[24px] px-[64px] max-lg:px-[32px] max-md:px-[16px];
  }

  .padding-x {
    @apply px-[64px] max-lg:px-[32px] max-md:px-[16px];
  }

  .section-container {
    @apply mx-auto max-w-[1320px];
  }
}